@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai&display=swap');

:root{
    --meraki-brown: rgb(104, 70, 59);
    --starbucks-green2: #146349;
    --meraki-house: rgb(49, 31, 24);
    --border: #ccc;
    --font: 'Secular One', sans-serif;
    --font2: 'Hind Madurai', sans-serif;
    --text-color: rgb(104, 61, 45);
    --text-color2:#5c677d;
    --button-color: var(--starbucks-green);
    --button-hover: #5d3b38;
    --button-font: 'Hind Madurai', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    font-size: 1.1rem;
}

/* SCROLLBAR */

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    width: 10px;
    background-color: var(--meraki-house);
}

::-webkit-scrollbar-thumb{
    width: 10px;
    background-color: var(--meraki-brown);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    background-color: var(--button-hover);
}

/* HEADER */

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-top: 5px solid var(--meraki-house);
    border-bottom: 1px solid var(--border);
}

.logo img{
    border-radius: 60%;
    max-width: 80px;
    height: auto;
    margin: 5%;    
    display: block;
}

header ul{
    display: inline-flex;
    gap: 52px;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: var(--text-color);
}

li a:hover{
    color: var(--starbucks-green)
}

/* FOOTER */

footer{
    border-top: 1px solid var(--border);
    align-items: center;
    justify-content: center;
    
}

.footerImage{
    text-align: center;
}

footer img{
    max-width: 50px;
    height: auto;
    margin: 1rem;
}

.footerContent{
    display: flex;
    justify-content: space-around;
}

.aboutUs, .contact, .terms, .aboutUs ul, .contact ul, .terms ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aboutUs a, .terms a, .contact a {
    font-size: 0.8rem;
}

.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    margin: 1rem 0;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.copy {
    font-size: 0.8rem;
}

/* INDEX */

.index{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 1rem 8% 0;
    border: none;
    justify-content: space-around;
    overflow: hidden;
    border-radius: 0%;
    scroll-snap-type: start;
    scroll-snap-stop: always;
    background: white;
}

.index-content{
    max-width: 630px;
}

.index-content h1{
    font-size: 3rem;
    line-height: 1.5;
    animation: slideBottom .8s ease forwards;
    animation-delay: 2;
}

.index-content h5{
    font-size: 1.5rem;
    color: rgb(104, 61, 45);
    text-align: justify;
    animation: slideRight .8s ease forwards;
    animation-delay: 2;
}

.index-content p{
    font-size: 1rem;
    margin: 15px 0 30px;
    text-align: justify;
    animation: slideLeft .8s ease forwards;
    animation-delay: 2;
}

.index-img img{
    align-self: center; 
    align-items: center;
    animation: slideLeft .8s ease forwards;
    animation-delay: 2;
    margin-left: 2rem;
    
    
} 

.index3 .index-img img{
    align-self: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 2rem;
} 

.index4 .index-img img{
    align-self: center; 
    align-items: center;
    width: 100%;
    height: 100%;
    margin-right: 2rem;
} 

.button-88-pushable {
    display: inline-block;
    padding: 10px 28px;
    position:relative;
    border: none;
    background: linear-gradient(145deg, #c9c9c9, #f0f0f0);
    width: 40%;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms, transform 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 5px 5px 15px #d3d3d3, -5px -5px 15px #ffffff;
    border-radius: 10px;
    animation: slideTop .8s ease forwards;
    animation-delay: 2;
}

.button-88-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsla(30, 85%, 52%, 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

.button-88-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        var(rgb(104, 61, 45)) 0%,
        var(rgb(104, 61, 45)) 8%,
        var(rgb(104, 61, 45)) 92%,
        var(rgb(104, 61, 45)) 100%
  );
}

.button-88-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: rgb(104, 61, 45);
    will-change: transform;
    transform: translateY(-4px);
    transition:transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-88-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-88-pushable:hover .button-88-front {
    transform: translateY(-6px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.button-88-pushable:active .button-88-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-88-pushable:hover .button-88-shadow {
    transform: translateY(4px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.button-88-pushable:active .button-88-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-88-pushable:focus:not(:focus-visible) {
    outline: none;
}

.index3{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 1rem 8% 0;
    overflow: hidden;
    border-radius: 0%;
    justify-content: center;
    scroll-snap-type: start;
    scroll-snap-stop: always;
    position: relative;
    background: white;
}

.index3-content{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
  
.index3-content h6 {
    font-size: 1.7rem;
    line-height: 1.5;
    animation: slideBottom .8s ease forwards;
    animation-delay: 2;
    margin-right: 3rem;
}
  
.index3-content p {
    font-size: 1rem;
    text-align: justify;
    color: var(--text-Color2);
    margin: 20px 0 30px 0;
    margin-right: 3rem;
    animation: slideLeft .8s ease forwards;
    animation-delay: 2;
}

.index4{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 1rem 8% 0;
    overflow: hidden;
    border-radius: 0%;
    justify-content: center;
    scroll-snap-type: start;
    scroll-snap-stop: always;
    position: relative;
    background: #eaeaea;  
}

.index4-content{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}
  
.index4-content h6 {
    font-size: 1.7rem;
    line-height: 1.5;
    animation: slideBottom .8s ease forwards;
    animation-delay: 2;
    margin-left: 4.5rem;
}
  
.index4-content p {
    font-size: 1rem;
    text-align: justify;
    color: var(--text-Color2);
    margin: 20px 0 30px 0;
    margin-left: 4.5rem;
    animation: slideLeft .8s ease forwards;
    animation-delay: 2;
}

/* INICIAR SESION */

.logInContent{
    width: 100%;
    height: 120vh;
    overflow: hidden;
    max-width: auto;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 5px 0px;
}

.logInContent img{
    display: flex;
    max-width: 100%;
    flex-direction: column;
    transform: translateY(-30%);
}

.logInForm {
    border: 1px solid var(--border);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 1rem;
}

.logInForm h2{
    font-size: 2rem;
}

.logInForm img{
    max-width: 150px;
    height: auto;
    border-radius: 5px;
}

.inputBox{
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #1E3932;
    margin: 30px 0;
    text-align: start;
}

.inputBox input{
    margin-top: 0.3rem;
    background: transparent;
    border: none;
    outline: none;
    font-family: var(--font2);
}

.rememberForgot{
    display: flex;
    flex-direction: column;
}

.remember{
    display: flex;
    justify-content:flex-start;
    gap: 5px;
}
.rememberForgot label{
    text-align: start;
}

.rememberForgot a{
    color: var(--starbucks-green);
    margin: 1rem;
}

.rememberForgot a:hover{
    color: var(--button-hover);
}

#logInCheck{
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    background-color: rgb(215, 215, 215);
    border: 1px solid black;
    width: 26px;
    height: 27px;
    border-radius: 5px;
}

#logInCheck:checked {
    background-color: var(--starbucks-house);
    background-image: url(../source/img/coffeeIcon.png);
}

.logInButton{
    color: white;
    margin: 5px 23px;
    width: 350px;
    height: 45px;
    background-color: var(--starbucks-green);
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
}

.logInButton:hover{
    background-color: var(--button-hover);
}

/* INVENTARIO */

.filters{
    border-bottom: 1px solid var(--border);
    padding: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}

.filters a{
    color: var(--text-color);
    font-size: 1rem;
}

.filters a:hover{
    color: var(--starbucks-green);
}

.selected {
    border-bottom: 5px solid #1E3932;
}

.inventoryContent{
    padding: 0 1rem;
}

.inventoryContent h3 {
    font-weight: normal;
}

.congeladosSection .refrigeradosSection .secosSection .limpiezaSection .publicidadSection{
    color: var(--starbucks-house);
    border: 1px solid var(--border);
    border-radius: 10px 0px;
    margin: 1rem 0;
}

.congeladosSection .refrigeradosSection .secosSection .limpiezaSection .publicidadSection h2{
    margin: 0.3rem 0 0 0.5rem;
}

.item{
    margin: 1rem;
}

.itemTitle{
    margin-bottom: 0.5rem;
}

.itemContent{
    display: grid;
    grid-template-areas: 
        "img button1 button2 count"
        "img button3 button4 count";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.img{
    grid-area: img;
    background-color: #ccc;
    height: 100px;
    width: 100px;
    align-self: center;
    justify-self: center;
}

.itemContent button{
    border-radius: 5px;
    cursor: pointer;
}

.itemContent button:hover{
    background-color: #e7e7e7;
}

.button1{
    grid-area: button1;
}

.button2{
    grid-area: button2;
}

.button3{
    grid-area: button3;
}

.button3{
    grid-area: button4;
}

.count{
    grid-area: count;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count p{
    color: var(--starbucks-house);
    font-size: 2.5rem;
    border-bottom: 5px solid var(--starbucks-house);
}

.stickyNav{
    position: sticky;
    top: 0px;
    background-color: #fff;
}

/* SUMINISTROS */

.supplyContent{
    display: grid;
    grid-template-areas: 
        "sidebar items"
        "panel panel";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 4fr 1fr;
    border: 1px solid var(--border);
    margin: 1rem;
    border-radius: 10px;
}

.sidebar{
    grid-area: sidebar;
}

.suministrosItems{
    grid-area: items;
}

.panelSuministros{
    grid-area: panel;
    border-top: 1px solid var(--border);
}

.sidebarNav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    text-align: center;
    border-right: 1px solid var(--border);
    height: 100%;
}

.sidebarNav button{
    border: 0px;
    cursor: pointer;
    background-color: #fff;
    color: var(--text-color);
}

.sidebarNav button:hover{
    color: var(--starbucks-green);
}

.searchBar{
    display: flex;
    padding: 1rem;
}

.searchBar input{
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--border);
    color: var(--text-color);
    width: 100%;
    padding-left: 0.5rem;
}

.searchBar input:focus{
    outline: none;
}

.btnSearch{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--starbucks-green);
    padding: 0px 5px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.btnSearch:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-hover);
    padding: 0px 5px;
    border-radius: 0px 5px 5px 0px;
    cursor: pointer;
}

.suministrosTable{
    overflow-y: scroll;
    height: 22rem;
}

td, th{
    border: 1px solid var(--border);
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th{
    color: var(--text-color);
}

.panelSuministros{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panelSuministros button{
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: 0.6rem;
    border: 0px;
}

.panelSuministros button:nth-child(1){
    background-color: var(--starbucks-green);
}

.panelSuministros button:nth-child(1):hover{
    background-color: var(--button-hover);
}

.panelSuministros button:nth-child(2){
    background-color: rgb(204, 62, 62);
}

.panelSuministros button:nth-child(2):hover{
    background-color: rgb(226, 82, 82);
}

.panelSuministros button:nth-child(3){
    background-color: gray;
}

.panelSuministros button:nth-child(3):hover{
    background-color: rgb(157, 155, 155);
}

.panelSuministros button:nth-child(4){
    background-color: rgb(63, 63, 176);
}

.panelSuministros button:nth-child(4):hover{
    background-color: rgb(78, 78, 212);
}

.seleccionable{
    cursor: pointer;
}

.seleccionable:hover{
    background-color: var(--border);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 1;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: gray;
    border: none;
    background: none;
}

.modal-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modalForm {
    display: flex;
    gap: 10px;
}

#cantidad{
    width: 50px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    visibility: hidden;
}

.show {
    opacity: 1;
    visibility: visible;
}

/* QUIENES SOMOS */

.text-container {
    display: flex;
    justify-content: center;
}

.container_about .AboutUs {
    display: flex;
    flex-direction: row;
    margin-block: 4rem;
    align-items: center; 
}

.AboutUs{
    border-style:none;
}
.container_about .AboutUs .text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
    
.container_about .AboutUs h1 {
    font-size: 1rem;
    color:var(--text-color2);
    font-weight: lighter;
    margin: 1rem 0rem 0 14rem;
    text-align: left;
}

.container_about .AboutUs h2 {
    font-size: 2rem;
    font-weight: bold;
    text-align: justify;
    margin: 1rem 0rem 0 14rem;
}
    
.container_about .AboutUs p {
    text-align: justify;
    color: var(--text-color2);
    line-height: 1.5rem;
    font-weight:normal;
    font-size: 1rem;
    margin: 1rem 0rem 0 14rem;
}
    
.container_about .AboutUs img{
    height: auto; 
    width: 25%; 
    align-self: center; 
    margin-right: 10vw; 
    margin-left: 5vw;
} 

.button-82-pushable {
    margin-top: 2rem;
    margin-left: 14rem;
    position:relative;
    border: none;
    background: linear-gradient(145deg, #c9c9c9, #f0f0f0);
    width: 40%;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms, transform 150ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    box-shadow: 5px 5px 15px #bebebe, -5px -5px 15px #ffffff;
    border-radius: 10px;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(0deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition:transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(
        to left,
        var(--starbucks-house) 0%,
        var(--starbucks-house) 8%,
        var(--starbucks-house) 92%,
        var(--starbucks-house) 100%
  );
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.1rem;
    color: white;
    background: var(--starbucks-green2);
    will-change: transform;
    transform: translateY(-4px);
    transition:
        transform
        600ms
        cubic-bezier(.3, .7, .4, 1);
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

.button-82-pushable:hover .button-82-front {
    transform: translateY(-6px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition:
        transform
        250ms
        cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

.text-container2 {
    height: 100vh;
    background-color: #f3f5fa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
.text-container2 .hola {
    display: flex;
    flex-direction: row;
}
  
.text-container2 .hola h2 {
    font-size: 1.7rem;
    text-align: justify;
    margin-left: 12%; 
    margin-top: 0.5rem;
}
  
.text-container2 .hola p {
    font-size: 1rem;
    text-align: justify;
    margin-right: 12%; 
    margin-left: 3%; 
    width: 100%;
    color: var(--text-color2);
}

.imagenesCartas{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10rem;
}

.text-container2 img{
    width: 20vw;
    height: auto;
}

.cartas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 3rem;  
    place-items: center; 
}
.carta1, .carta2, .carta3 {
    padding: 1rem; 
    margin-inline: 2rem;
    border-radius: 26px;
    background: #f3f5fa;
    width: 80%;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.carta1 p, .carta2 p, .carta3 p {
    color: var(--text-color2);
    text-align: center
}
.carta1 h3, .carta2 h3, .carta3 h3 {
    font-weight: bolder;
    text-align: center
}

.story {
    display: grid;
    margin: 5%; 
    border-style: none;
    place-items: center; 
    align-items: center;
}  
.text-container3{
    align-items: center;
    display: flex;
    flex-direction: column;
}
.text-container3 h3{
    font-size: 1rem;
    text-align: left;
    color: var(--text-color2);
    margin-left: 2rem;
    margin-left: 0;
}
.text-container3 h4{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.text-container3 p {
    font-size: 1rem;
    text-align: center;
    color: var(--text-color2);
    margin: 0 12rem 0 12rem;
    max-width: 1000px;
    text-align: justify;
}
.gallery{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    margin-top: 2rem;
}
.galleryItem{
    scroll-snap-align: center;
    min-width: 50%;
}
.galleryImage{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1%;
}

.Founders{
    display: grid;
    border: none;
    justify-content: center;
    margin: 2rem 0 0 0;
    background-color: #f3f5fa;
    border-radius: 0%;
    border-color: #f3f5fa;
}
.text-container4{
    align-items: center;
    margin: 2rem 0 0rem 0;    
}
.text-container4 h3{
    font-size: 1rem;
    text-align: center;
    color: var(--text-color2);
}
.text-container4 h4{
    font-size: 1.9rem;
    text-align: center;
    margin-bottom: 2rem;
}

.Team{
    
    grid-template-columns: repeat(2, 30rem);
    margin: 2rem;   
    place-items: center; 
} 

.cardTeam{
    align-items: center;
    border-radius: 10px;
    transform-style: preserve-3d;
    transition: all 0.8s ease;
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem;  
}
  
.cardTeam:hover{
    transform: rotateY(180deg);
}
  
.thefront{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    backface-visibility: hidden;
    overflow: hidden;
    background: #f8f9fa;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.theback{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    backface-visibility: hidden;
    background: var(--text-color2r);
    text-align: center;
    transform: rotateY(180deg);
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
  
.thefront h5, .theback h5{
    margin: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: var(--text-color);
}

.theback .bx{
    margin-bottom: 2rem;
}

.thefront img{
    width: 75%; 
    height: auto; 
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
  
.thefront p, .theback p{
    margin: 2rem;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    color: var(--text-color2);
}

.icon{
    font-size: 2rem;
    color:var(--meraki-brown);
}
  
/* MISION Y VISION*/

.mvMain, .mvMision, .mvVision{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mvMainText, .mvMainImg, .mvMisionText, .mvMisionImg, .mvVisionImg, .mvVisionText{
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mvMainText, .mvMisionText, .mvVisionText{
    flex-direction: column;
    padding: 3rem;
    text-align: center;
}

.mvMision{
    background-color: #eaeaea;
}

.mvMain h1{
    font-size: 2rem;
    margin: 1rem;
}

.mvContent h2{
    font-size: 1.5rem;
}

.mvMain img, .mvVision img, .mvMision img{
    height: 30vw;
    width: auto;
}

/* RESPONSIVE */

@media (max-width: 1024px) {

    .text-container4{
        margin: 2rem 2rem 0 2rem;
    }

    .text-container4 .Founders {
        flex-direction: column; 
        align-items: center; 
    }
  
    .text-container4 .Founders h3 {
        margin-left: 0; 
    }
  
    .text-container4 .Founders h4 {
        margin-right: 0; 
        margin-left: 0; 
    }
  
    .Team{
        grid-template-columns: repeat(1,1fr); 
        grid-gap: 0; 
        margin: 0;
        margin-bottom: 2rem;
        margin-inline: 1rem;
        align-items: center;
    }

    .cardTeam{
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .thefront{
        width: 80%; 
        height: 100%;
        margin: 1rem;
    }

    .theback{
        width: 80%; 
        height: 100%;
    }

    .thefront h5, .theback h5{
        margin: 2rem 0 0 0;
    }

    .thefront p, .theback p{
        margin: 1rem;
    }

    .icon{
        font-size: 1.5rem;
        color:#006241;
    }

    .text-container3 h3 {
        font-size: 0.8rem; 
    }

    .text-container3 p {
        margin: 0 2rem 0 2rem;
    }

    .text-container2 .hola {
        flex-direction: column; 
        align-items: center; 
        margin: 2rem;
    }
    
    .text-container2 .hola h2 {
        margin-left: 0; 
        margin-bottom: 1rem;
    }
    
    .text-container2 .hola p {
        margin-right: 0; 
        margin-left: 0; 
    }
    
    .cartas {
         grid-template-columns: repeat(1,1fr); 
         grid-gap:40px; 
    }
    
    .container_about .AboutUs {
        margin: 0 1rem 0 1rem;
        flex-direction: column; 
        text-align: justify;
        align-items: stretch; 
    }

    .text-container{
        align-items: center;
    }
  
    .container_about .AboutUs h1 {
        margin-left: 0; 
        text-align: center; 
        margin-top: 1rem; 
        margin-bottom: 0.5rem; 
    }
  
    .container_about .AboutUs h2 {
        margin-left: 0; 
        text-align: center; 
        margin-top: 0.5rem; 
        margin-bottom: 0.5rem; 
    }
  
    .container_about .AboutUs p {
        margin-left: 0; 
        text-align: justify; 
        margin-top: 0.5rem; 
        margin-bottom: 0.5rem;
        padding-left: 1rem; 
        padding-right: 1rem; 
    }
  
    .container_about .AboutUs img {
        width: 80vw; 
        margin-top: 1rem; 
        margin-right: 4rem;
        margin-bottom: 1rem; 
    }

    .button-82-pushable {
        place-items: center; 
        width: 40vw;
        font-size: 1.25rem;
        margin-left: 0;
        text-align: center; 
        margin-top: 2rem; 
        margin-bottom: 0.5rem;
    }
}

@media only screen and (width <= 768px) {
    *{
        font-size: 1rem;
    }

    .indexText .title{
        font-size: 3rem;
    }

    .Trabajando {
        flex-direction: column;
        margin: 2rem;
        align-items: flex-start;
    }

    .Team img{
        width: 70%;
        height: 70%;
    }

    .button-88-pushable {
        place-items: center; 
        width: 40vw;
        font-size: 1.25rem;
        margin-left: 0;
        text-align: center; 
        margin-top: 2rem; 
        margin-bottom: 0.5rem;
    }

    .index, .index3, .index4{ 
        flex-direction: column; 
        text-align: center;
        align-items: stretch; 
        margin-top: 1rem;
    }

    .index-content h1{ font-size: 2rem; margin-bottom: 1rem; text-align: center;}

    .index-content h5{ font-size: 1.2rem; text-align: center;}

    .index-content p{ font-size: 0.8rem; text-align: center;}

    .index-img img, .index3 .index-img img, .index4 .index-img img{ 
        margin-left: 0; width: 60%; align-items: center; margin-right: 0;
    }

    .button-88-pushable {
        place-items: center; 
        width: 40vw;
        font-size: 1.25rem;
        margin-left: 0;
        text-align: center; 
        margin-top: 2rem;   
    }

    .index3-content, .index4-content { 
        max-width: none;  margin-left:0;  margin-right:0; margin: 2rem;
    } 

    .index3-content h6, .index4-content h6 { 
        font-size: 1.5rem; margin-left:0;  margin-right:0;
    }

    .index3-content p, .index4-content p { 
        font-size: 0.8rem;  margin-left:0;  margin-right:0;
    }

    .index4{ height: 100%; }

    .index3{ height: 100%; }

    .index3 .index-img{
        margin-bottom: 2rem;
    }
    .index .index-img{
        margin-top: 0rem;
    }
}

@media screen and (maxwidth:600px){
    .teams{
        max-width: 100%;
    }
}

/* KEYFRAMES */

@keyframes slideRight{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}